<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Feed</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/custom.js"></script>
</head>

<body>

<div class="container-fluid">
    <div th:replace="fragments/navbar"></div>

    <ul class="nav nav-tabs">
        <li role="presentation" th:classappend="${filter == 'all' ? 'active' : '' }">
            <a href="/tweets">All</a></li>
        <li role="presentation" th:classappend="${filter == 'following' ? 'active' : '' }">
            <a href="/tweets?filter=following">Following</a></li>
    </ul>
    <br/>


    <div class="container">
        <h2>Tweets</h2>
        <div th:each="tweet:${tweetList}">
            <h5>@<span th:text="${tweet.user.username}"></span>
                <small><span th:text="${tweet.date}"></span></small>
            </h5>
            <p th:utext="${tweet.message}"></p>
        </div>
    </div>
</div>

<div th:if="${#lists.isEmpty(tweetList) and filter == 'all'}">
    <h3>No tweets have been created yet</h3>
</div>
<div th:if="${#lists.isEmpty(tweetList) and filter == 'following'}">
    <h3>No tweets have been created by your followers</h3>
</div>

</body>
</html>