<!DOCTYPE html>
<!-- TODO(): Update spring security to version 5 -->
<html xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Log in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<!--    <link rel="stylesheet" href="/custom.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--    <script src="/custom.js"></script>-->
</head>

<!--<body>-->

<!--<div class="container">-->
<!--    <h2>Welcome!</h2>-->
<!--    <form th:action="@{/login}" method="post"><br/>-->
<!--        <input type="text" id="username" name="username" th:placeholder="username" class="form-control"/> <br/>-->
<!--        <input type="password" th:placeholder="password" id="password" name="password" class="form-control"/> <br/>-->
<!--        <div align="center" th:if="${param.error}">-->
<!--            <h4 style="color: red">Login unsuccessful.</h4>-->
<!--        </div>-->
<!--        <button class="btn btn-md btn-success btn-block" name="Submit" value="Login" type="submit">Log in</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->

<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>
