<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="row navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: #00aced">
                <i class="fab fa-twitter"></i> Tech Talent Twitter</a>
        </div>

        <div id="navbar">
            <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                <li><a href="/tweets">Home</a></li>
                <li><a href="/tweets/new">New Tweet</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()"><a style="pointer-events: none;color: #00aced">
                    @<span sec:authentication="name"></span></a>
                <li sec:authorize="isAuthenticated()"><a href="../logout">Logout</a></li>
                <li sec:authorize="!isAuthenticated()"><a href="../login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>